  .container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
    align-items: center
  }
  
  .search-hero {
      padding-top: 0%;
      padding-left: 20px;
    margin:auto;
  }
  
  .form-control {
      width: 500px;
      height: 30px;
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }

  .container1 {
    display: flex;
    padding-left: 0%;
  }