<div class="container">
    <mat-form-field>
        <mat-label>Select City</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="onChangeCity()">
            <mat-option value="BANGALORE">Bangalore</mat-option>
            <mat-option value="MUMBAI">Mumbai</mat-option>
            <mat-option value="CHENNAI">Chennai</mat-option>
            <mat-option value="HYDERABAD">Hyderabad</mat-option>
            <mat-option value="MACHERLA">Macherla</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Start searching for bank detail by id or name or country">
    </div>
</div>
<div class="container1">
    <div>
        <div *ngIf="loading" style="box-align:'center'">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf = "!loading">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bank Name</th>
                        <th>Bank Id</th>
                        <th>Address</th>
                        <th>Branch</th>
                        <th>City</th>
                        <th>District</th>
                        <th>IFSC</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bank of banks | filter:searchText">
                        <td>{{bank.bank_name}}</td>
                        <td>{{bank.bank_id}}</td>
                        <td>{{bank.address}}</td>
                        <td>{{bank.branch}}</td>
                        <td>{{bank.city}}</td>
                        <td>{{bank.district}}</td>
                        <td>{{bank.ifsc}}</td>
                        <td>{{bank.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>